<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ titke }}</title>
</head>
<body>

<h1>Register new account</h1>
{{ message or "" }}
<form action="" method="post">
    <input type="text" name="email" placeholder="email"/>
    <input type="text" name="password" placeholder="Password"/>
    <input type="text" name="password2" placeholder="Retype password"/>

    <input type="submit" name="Create">
</form>
</body>
</html>